{% extends 'bootstrap/base.html' %}

<!doctype html>
<title>{% block title %}{% endblock %} - GPA Calc</title>
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<div class="container">

{% block navbar %}
<nav class="navbar navbar-default">
<h1>Welcome to SE-577 GPA Calculator</h1>
  <ul class="nav nav-pills pull-right">

    {% if g.user %}
	  <li><a href="{{ url_for('calc.index') }}">Home</a>
      <li><a href="{{ url_for('calc.viewClasses') }}">View Account</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('auth.passwordReset') }}">Change Password</a>
    {% else %}
	  <li><a href="{{ url_for('calc.index') }}">Home</a>
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% endblock %}

    {% block content%}

    {% if g.user %}
    <h3>Greetings {{session.username}}</h3>
{% endif %}

    {% endblock %}

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</div>