{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
	<div class="block">
	   <label for="username">Username</label>
       <input name="username" id="username" required>
	</div>
	<div class="block">
	   <label for="Old Password"> Old Password</label>
       <input type="password" name="oldPassword" id="oldPassword" required>
	</div>	
	<div class="block">
	   <label for="New Password">New Password</label>
       <input type="password" name="newPassword" id="newPassword" required>
	</div>
		</br>
		<input type="submit" value="Update Password">
		<a href="{{ url_for('calc.viewClasses') }}">Cancel</a>
  </form>
{% endblock %}