{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="auth">
  <form method="post">
	<div class="form-group">
	   <label for="username">Username</label>
       <input name="username" class="form-control" id="username" required>
	</div>
	<div class="form-group">
	   <label for="Old Password"> Old Password</label>
       <input type="password" name="oldPassword" class="form-control" id="oldPassword" required>
	</div>	
	<div class="form-group">
	   <label for="New Password">New Password</label>
       <input type="password" name="newPassword" class="form-control" id="newPassword" required>
	</div>
      <br>
	<input type="submit" value="Update Password" class="btn btn-success">
	<a href="{{ url_for('calc.viewClasses') }}" class="btn btn-danger" >Cancel</a>
  </form>
    </div>
{% endblock %}