{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Get a Goal Grade{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="auth">
	<form method="post">
		<div class="form-group">
			<label for="classname">Class Name</label>
			<input name="classname" class="form-control" id="classname" value="{{ request.form['classname'] }}" required>
		</div>
		<div>
			<label for="credits">Credits</label>
				<input name="credits" class="form-control" id="credits" value="{{ request.form['credits'] }}" required>
				<small id="helpBlock" class="form-text text-muted">(If you do not wish to weight your classes, please enter "1" for all classes)</small>
		</div>
		</br>

	</form>
    <output type="text" id="goal" size="3" maxlength="3" name="myname">
    <h1><a href="getGoalInfo()" class="btn btn-success">Calculate Goal {{ avg }} </a></h1>
    </div>
{% endblock %}




<a href="{{ url_for('calc.viewClasses') }}" class="btn btn-success">Calculate Goal</a>