{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Classes and Grades{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('calc.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
	<table border = "1" width = "100%">
        <tr>
			<td>
				<table border = "1" width = "100%">
					<tr>
						<th style="color:teal"><h3>Class</h3></th>
						<th style="color:teal"><h3>Grade</h3></th>
						<th style="color:teal"><h3>Credits</h3></th>
						<th style="color:teal"><h3>Edit</h3></th>
					</tr>
					{% for clss in classes %}
					<tr>
						<td style="text-align:center">{{ clss['classname'] }}</td>
						<td style="text-align:center">{{ clss['grade'] }}</td>
						<td style="text-align:center">{{ clss['credits'] }}</td>
						<td style="text-align:center">
							{% if g.user['id'] == clss['author_id'] %}
								<a class="action" href="{{ url_for('calc.update', id=clss['id']) }}">Edit</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</td>
         </tr>
	</table>
	<br>
	<hr>  	
	<h1 div style="text-align:center">Average grade: {{ avg }}</h1>
{% endblock %}